## Lightweight Berlin Text System Search Interface
## Copyright 2018 Sebastian Götte/Berlin Brandenburg Academy of Sciences <bbaw@jaseg.net, sgoette@bbaw.de>
##
##   This program is free software: you can redistribute it and/or modify
##   it under the terms of the GNU Affero General Public License as published by
##   the Free Software Foundation, either version 3 of the License, or
##   (at your option) any later version.
##
##   This program is distributed in the hope that it will be useful,
##   but WITHOUT ANY WARRANTY; without even the implied warranty of
##   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##   GNU Affero General Public License for more details.
##
##   You should have received a copy of the GNU Affero General Public License
##
<style type="text/css">
ul.breadcrumb {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.breadcrumb li {
    display: inline;
    line-height: 1.5em;
}

ul.breadcrumb li a {
    border: solid white;
    border-width: 1mm 0 0 0;
    background: #644322;
    color: #fff7f0;
    text-decoration: none;
    padding: 0 1em 0 0;
    display: block;
    float: left;
    height: 2em;
}

ul.breadcrumb li a::after { 
    content: " "; 
    display: inline-block; 
    width: 0; 
    height: 0;
    border: solid white;
    border-width: 0 0.8mm 0.8mm 0;
    padding: 1.5mm;
    transform: scaleX(0.7) rotate(-45deg);
    position: relative;
    vertical-align: middle;
}
</style>

<ul class=breadcrumb>
{% for parent in obj['parents'] %}<li class="type-icon-{{parent['type']}}">
        <a href="{{url_for('render_corpus_object', oid=parent['oid'])}}">{{parent['name']}}</a>
    </li>{% endfor %}
</ul>
