## Lightweight Berlin Text System Search Interface
## Copyright 2018 Sebastian Götte/Berlin Brandenburg Academy of Sciences <bbaw@jaseg.net, sgoette@bbaw.de>
##
##   This program is free software: you can redistribute it and/or modify
##   it under the terms of the GNU Affero General Public License as published by
##   the Free Software Foundation, either version 3 of the License, or
##   (at your option) any later version.
##
##   This program is distributed in the hope that it will be useful,
##   but WITHOUT ANY WARRANTY; without even the implied warranty of
##   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##   GNU Affero General Public License for more details.
##
##   You should have received a copy of the GNU Affero General Public License
##
<!DOCTYPE html>
<html>
    <head>
        <title>Berlin Text System Renderer</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
<style type="text/css">
.container {
	margin: auto;
	display: grid;
}

#filler_bottom {
	height: 15em;
}
</style>
    </head>
    <body>
        <div class="container">
			<div class="logo">
				<div class="c-blue">Ä</div><div class="c-green">g</div><div class="c-red">y</div><div class="c-yellow">y</div><div class="c-blue">g</div><div class="c-green">l</div><div class="c-red">e</div>
			</div>
			<div class="searchbar">
				<form id="search_form" class="hero">
					<input type=text id="search_input" autofocus><br>
					<input type=submit id="submit_button" value="Search">
				</form>
			</div>
			<div id="filler_bottom"></div>
		</div>
    </body>
    <script type="text/javascript">
        function redirect_search(event) {
            event.preventDefault();
            var search_term = document.getElementById("search_input").value;
            window.open("/search?query="+encodeURI(search_term), "_top");
        }
        document.getElementById("search_form").onsubmit = redirect_search;
    </script>
</html>
