<style type="text/css">
body {
    counter-reset: linenum;
    font-family: sans-serif;
    margin-bottom: 0;
    margin-top: 0;
}

.text-backdrop {
    background: #bfe2ca;
}

.line {
    display: flex;
}

.line-items-container {
    flex-grow: 1;
}

.line-items {
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;
    border-top: 1px solid #8eb099;
    border-left: 1px solid #8eb099;
}

.line-number {
    font-weight: bold;
    color: #60806b;
    background: #fff;
}

.line-number::before {
    counter-increment: linenum;
    content: counter(linenum);
    display: block;
    margin: 1em 0.5em 0em 0.5em;
}

.sentence-translation{
    margin-bottom: 50px;
    border-left: 1px solid #8eb099;
    border-right: 1px solid #8eb099;
    border-bottom: 1px solid #8eb099;
    /*color: #254048;*/
    color: #74573a;
    background: #fff7f0;
}

.word-block {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    margin-bottom: 10px;
    border-right: 1px solid #8eb099;
    border-bottom: 1px solid #8eb099;
    background: #fff;
}

.line-filler {
    flex-grow: 100;
    display: flex;
    flex-flow: column;
    margin-bottom: 10px;
    border-right: 1px solid #8eb099;
    border-bottom: 1px solid #8eb099;
    background: #fff;
}

.mdc-row, .transliteration-row, .translation-row, .lemma-row {
    text-align: center;
    vertical-align: middle;
}

.input-field:focus {
    outline: none;
    background: #fdd4d7;
    color: #ac2e37;
}

.hieroglyph-row {
    height: 3em;
    padding: 0.5em;
    text-align: center;
    border-bottom: 1px solid #8eb099;
}

.hieroglyph-row > div {
    height: 100%;
}

.hieroglyph-row > div::before {
	content: "";
	background-size: contain;
	background-repeat: no-repeat;
	display: block;
	background-position: center;
    height: 100%;
}

.mdc-row {
    height: 1.6em;
    line-height: 1.6em;
    border-bottom: 1px solid #8eb099;
    color: #73ae85;
}

.transliteration-row {
    height: 1.6em;
    line-height: 1.6em;
    border-bottom: 1px solid #8eb099;
    color: #254048;
}

.translation-row {
    height: 1.6em;
    line-height: 1.6em;
    border-bottom: 1px solid #8eb099;
    color: #73ae85;
}

.lemma-row {
    height: 1.6em;
    line-height: 1.6em;
    color: #73ae85;
}

.block-selected {
    background: #fff7f0;
}

input {
    border: none;
}

#control-bar-pad {
    height: 2em;
}

#control-bar {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    border-bottom: 5px solid #ff943b;
    width: 100%;
    height: 2em;
}
</style>

<div id="control-bar">
    <input type=checkbox checked id=check_mdc onchange="setVisible('mdc-row', this.checked);"/>
    <label for=check_mdc>MDC</label>
    <input type=checkbox checked id=check_xliteration onchange="setVisible('transliteration-row', this.checked);"/>
    <label for=check_xliteration>Transliteration</label>
    <input type=checkbox checked id=check_xlation onchange="setVisible('translation-row', this.checked);"/>
    <label for=check_xlation>Translation</label>
    <input type=checkbox checked id=check_lemma onchange="setVisible('lemma-row', this.checked);"/>
    <label for=check_lemma>Lemmatization</label>
</div>
<div class="text-backdrop">
    {% for sentence in obj['content'] %} <div class="line">
        <div class="line-number"></div>
        <div class="line-items-container">
            <div class="line-items">
                {% for item in sentence['items'] %}<div class="word-block">
                    <div class="hieroglyph-row">
						{{ mdc_css.render(item['mdc']) | safe }}
                    </div>
                    <div contenteditable=true class="input-field mdc-row">{{item['mdc']}}</div>
                    <div contenteditable=true class="input-field transliteration-row">{{item['transliteration']}}</div>
                    <div contenteditable=true class="input-field translation-row">{{item['translation']}}</div>
                    <div contenteditable=true class="input-field lemma-row">{{item['lemma']}}</div>
                </div>{% endfor %}
                <div class="line-filler"><!-- fill remaining space --> </div>
            </div>
            <div contenteditable=true class="input-field sentence-translation">
                {{sentence['translation']}}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script type="text/javascript">
var tabIdx = 1;
for (let classname of ["mdc-row", "transliteration-row", "translation-row"]) {
    for (let elem of document.getElementsByClassName(classname)) {
        elem.tabIndex = tabIdx++;
    }
}

for (let elem of document.getElementsByClassName("line")) {
    elem.onclick = function(event) {
        if (event.target.className.includes('input-field'))
            return;
        if (event.target.className.includes('hieroglyph-row'))
            return;
        elem.getElementsByClassName("input-field")[0].focus();
    };

    elem.onkeydown = function(event) {
        var sib;
        if (event.keyCode == 38 /* arrow up */) {
            sib = event.target.previousElementSibling;
        } else if (event.keyCode == 40 /* arrow down */) {
            sib = event.target.nextElementSibling;
        } else return;
        if (sib != null && sib.className.includes('input-field'))
            sib.focus();
    };
}

function setVisible(classname, visible) {
    for (var elem of document.getElementsByClassName(classname))
        elem.style.display = visible ? 'block' : 'none';
}
</script> 

<style type="text/css">
{{ mdc_css.css | safe }}
</style>
