[Unit]
Description=BTS backup one-shot service
Requires=bts-render-export.service
Before=bts-render-export.service

[Service]
Type=oneshot
WorkingDirectory=/var/cache/btsrender/backup
ExecStart=/var/lib/btsrender/backup_all_collections.sh
User=btsbackup
Group=btsbackup

