[Unit]
Description=BTS renderer database export one-shot service

[Service]
Type=oneshot
WorkingDirectory=/var/cache/btsrender/backup
ExecStart=/var/lib/btsrender/flask/sqlitize.py latest ../db/corpus.sqlite3
User=btsbackup
Group=btsbackup

